/*------------------*/
/*Global Decorations*/
/*-----------------*/
* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  font-family: Century Gothic;
  font-size: medium;
}

a {
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 25px;
  padding-inline: 10px;
  border: 1px solid rgb(255, 255, 255);
}

a:hover {
  color: rgb(77, 77, 77);
}

/*-----*/
/*Body*/
/*-----*/

body {
  background-color: #f7f7f7;
  background-image: url(./16\ x\ 9\ in\ copy.png);
  background-size: cover;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}

/*-------------*/
/*Main Outer Div*/
/*-------------*/

#headerimg {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#cuisine {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p {
  color: black;
}

button {
  outline: none;
  background-color: white;
  border-radius: 25px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  border-color: rgb(255, 255, 255);
}

button:hover {
  border-color: grey;
}

/*-------------*/
/*Outer container*/
/*-------------*/

.outer-container {
  padding: 10px;
  height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*---------*/
/*Inner Div*/
/*---------*/

.inner-container {
  /*background-color: white;*/
  height: 40%;
  margin: 0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*box-shadow: 0 0 10px 2px white;*/
  padding: 10px;
}

/*-------------------------*/
/*Header/Intro Section*/
/*------------------------*/

h1,
h2 {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

li {
  list-style: none;
}

p {
  text-align: center;
}

.front-page,
main {
  margin-bottom: 10vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

.front-page button {
  outline: none;
  border-color: rgb(255, 255, 255);
  background-color: white;
  padding-inline: 10px;
  display: block;
  margin: 0 auto;
}

.hide {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card img {
  width: 350px;
  height: 250px;
}
.card p {
  padding-left: 10px;
}
