/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: medium;
}

/* HEADER */

.headersection {
  height: 135px;
  background-color: #4b4b4b;
}

#headerimg {
  width: 45%;
}

/* BODY */

body {
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: #e7e7e7;
}

h1,
h2 {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

li {
  list-style: none;
}


.hide {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card img {
  width: 350px;
  height: 250px;
}

.card p {
  padding-left: 10px;
}
main {
  display: flex;
  align-items: stretch;
  margin: 20px;
}
.formContainer{
  display: flex;
  
  align-content: center;
  flex-direction: column;
}
.formHeader {
  align-items: center;
  margin-left: 45%;
}

.searchForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.foodContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.recipeCard{
  margin: 5px;
  width: 275px;
}
.recipeCard img{
  width: 275px;
}

/* SEARCH BUTTON */

#searchBtn {
background-color: #3d3d3d;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

#searchBtn:hover, #searchBtn:focus {
  background-color: #858585;
  }

/* FIND BUTTON */

#findBtn {
  background-color: #3d3d3d;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

#findBtn:hover, #findBtn:focus {
  background-color: #858585;
  }


/* INPUT SECTION */

#inputCode {
max-width: 20rem;
margin: 0 auto;
padding: 1.5rem;
border-radius: 0.5rem;
background-color: #fff;
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#dishInput {
  max-width: 20rem;
margin: 0 auto;
padding: 1.5rem;
border-radius: 0.5rem;
background-color: #fff;
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
footer {
  position: fixed;
}